.header, .container { 
<<<<<<< HEAD
    width: 550px;
    margin: 0 auto;
=======
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.container { 
    margin-bottom: 5em;
>>>>>>> cc639ea (Completed project, final touches and optimizations)
}